<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/dist/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/pics/fav_icon.png" type="image/png">
    <title>Artistes</title>
</head>
<body>
    <h1 class="logo text-base mt-1"><a href="/">Groupi<span class="middle_letter">e-T</span>racker™</a></h1>
    <h1 class="text text-5xl text-center mt-20">Groupi<span class="middle_letter">e-T</span>racker</h1>
    <br>
    <form method="get" action="/search">
       <!-- <div class="wrapper2"> -->
        <div class="search-input rounded-xl mt-6">
          <div class="flex justify-center text flex-col">
            <input type="text" name="input" placeholder="Search" class=" border-2 border-mwg bg-transparent rounded-xl">
            <div class="autocom-box text">
          </div>
            
          </div>
          <div class="icon"><i class="fas fa-search"></i></div>
        </div>
      <!-- </div> -->
  


    </form>
    <script>const bj = "{{.All}}";</script> 
    <script src="./static/dist/script.js"></script> 
    <br>
    <br>
    <div id="wrap">
        <ul class="navbar">
          <li>
            <a href="#">Filter</a>
            <ul>
              <li><form action="/filter" method="post">
                <label for="lang">Number of Members</label>
                <div>
                  <div>        
                    <input type="radio" id="contactChoiceAll" name="Member" value="All" checked>
                    <label for="huey">All</label>
                  </div>
                  <div>
                    <input type="radio" id="contactChoice1" name="Member" value="1" >
                    <label for="contactChoice1">1</label>
                  </div>
                  <div>
                    <input type="radio" id="contactChoice2" name="Member" value="2" >
                    <label for="contactChoice2">2</label>
                  </div>
                  <div>
                    <input type="radio" id="contactChoice3" name="Member" value="3">
                    <label for="contactChoice3">3</label>
                  </div>
                  <div>
                    <input type="radio" id="contactChoice4" name="Member" value="4">
                    <label for="contactChoice4">4</label>
                  </div>
                  <div>
                    <input type="radio" id="contactChoice5" name="Member" value="5">
                    <label for="contactChoice5">5</label>
                  </div>
                  <div>
                    <input type="radio" id="contactChoice6" name="Member" value="6">
                    <label for="contactChoice6">6</label>
                  </div>
                  <div>
                    <input type="radio" id="contactChoice7" name="Member" value="7">
                    <label for="contactChoice7">7</label>
                  </div>
                  <div>
                    <input type="radio" id="contactChoice8" name="Member" value="8">
                    <label for="contactChoice8">8</label>
                  </div>
                </div>
              </li>
              <li><div>
                <label for="volume">Year of creation</label>
                <input id="pi_input" name="creationdate" type="range" min="1940" max="2023" value="0" />
                <p class="display-output">Year: <output id="value"></output></p>
              </div>
              </li>
              <li><div>
                <label for="volume2">Album Year</label>
                <input id="pi_input2" name="albumdate" type="range" min="1940" max="2023" value="0" />
                <p class="display-output">Year: <output id="valueAlbum"></output></p>
                <script src="./static/dist/annee.js"></script>
              </div>
              </li>
              <li><li>
                <label for="lang">Locations</label>
                <select id="city" name="city">
                  <option value="All">All</option>
                  {{ range .Country}}
                  <option value="{{.}}">{{.}}</option>
                  {{end}}
                </select>
            </li></li>
            <li><button name="submitfilter" type="submit"><span class="text-base">Submit</span></button>
            </li></form>
            </ul>
          </li>


          </li>
        </ul>
      </div>
    <p class="text text-center text-4xl mt-12 mb-3">Gr<span class="middle_letter">ou</span>ps</p>
    <form method="get" action="/infos">
    <div class="grid grid-cols-7 gap-8 ml-1 mr-1">
        {{range .Artist }}
        <div class="border-2 rounded-2xl border-mwg">
            <button type="submit" value="{{.Id}}" name="id">
                <img src="{{.Image}}" class="rounded-2xl w-60 h-60">
                <p class="text text-center text-2xl">{{.Name}}</p>
            </button>
        </div>
        {{end}}
    </div>
    </form>
    <footer class="footer"><a href="/static/about.html">[ Matheo LANG  <span class="middle_letter">Timothee DURAN</span>  Lukas PORTIER ]</a></footer>
</body>
</html>