@font-face {
    font-family: "ModernWarfare";
    src: url(/static/fonts/ModernWarfare.ttf);
}

body{
    background-color: black;
}

h1{
    font-size: 0.5rem;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    font-family: 'ModernWarfare',sans-serif;
}

a:link{
    color: #E1E1E1;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: #E1E1E1;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: #E1E1E1;
    background-color: transparent;
    text-decoration: none;
}

a:active{
    color: #E1E1E1;
    background-color: transparent;
    text-decoration: none;
}

.middle_letter{
    color: #74BC2A;
}

.title{
    color: #E1E1E1;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'ModernWarfare',sans-serif;
    font-size: 3rem;
}

.bottom_footer{
    color: #E1E1E1;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
    font-family: 'ModernWarfare',sans-serif;
}