@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "GhostClan";
    src: url(/static/fonts/Orbitron.ttf);
}

*{
    font-family: 'GhostClan', sans-serif;
}

body{
    background-color: black;
}

h1{
    color: #E1E1E1;
}

.text{
    color: #E1E1E1;
}

a:link{
    color: #E1E1E1;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: #E1E1E1;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: #E1E1E1;
    background-color: transparent;
    text-decoration: none;
}

a:active{
    color: #E1E1E1;
    background-color: transparent;
    text-decoration: none;
}

.middle_letter{
    color: #74BC2A;
}

.footer{
    color: #E1E1E1;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
    font-family: 'GhostClan',sans-serif;
}

.image{
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer_b{
    color: #E1E1E1;
    position:static;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
    font-family: 'GhostClan',sans-serif;
}

.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
  }
  .navbar li {
    height: auto;
    width: 300.8px;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    background-color: black;
    box-shadow: #74BC2A;
  }
  .navbar a {
    padding: 18px 0;
    border-left: 1px solid #ccc9c9;
    text-decoration: none;
    color: white;
    display: block;
  }
  .navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .navbar li:hover ul {
    display: block;
  }
  .navbar li ul li {
    background-color: #74BC2A;
  }
  .navbar li ul li a {
    border-left: 1px solid pink;
    border-right: 1px solid pink;
    border-top: 1px solid pink;
    border-bottom: 1px solid pink;
  }
  .navbar li ul li a:hover {
    background-color: pink;
  }
  /*
  #wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 30vh; 
    background-color: #f1f1f1;
  }
  
  /*sep*/
  /*
  #wrap input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  #wrap label  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  */
  #wrap label {
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    font-size: medium;
  }
  
  #wrap input {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "GhostClan";
    color: black;
    font-size: small;
  }
  
  #wrap select {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  
  /*sep*/

.display-output{
    color: black;
    font-size: medium;
}